//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Thu 09 04 14:58:46 2025

IO_PORT "dbg3[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_PORT "dbg3[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_PORT "dbg3[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_PORT "dbg3[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_PORT "dbg2[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "dbg2[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "dbg[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "dbg[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "dbg[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "dbg[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_LOC "i2s_data" A10;
IO_PORT "i2s_data" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "i2s_bclk" B11;
IO_PORT "i2s_bclk" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "i2s_lrclk" B10;
IO_PORT "i2s_lrclk" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "spi_mosi" C2;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_clk" A1;
IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_cs" B2;
IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_pwron" F2;
IO_PORT "spi_pwron" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_dp_pull" B3;
IO_PORT "usb_dp_pull" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vid_vs" E10;
IO_PORT "vid_vs" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_hs" E11;
IO_PORT "vid_hs" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_de" A11;
IO_PORT "vid_de" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[23]" H7;
IO_PORT "vid_d[23]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[22]" H8;
IO_PORT "vid_d[22]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[21]" G8;
IO_PORT "vid_d[21]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[20]" G7;
IO_PORT "vid_d[20]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[19]" F5;
IO_PORT "vid_d[19]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[18]" G5;
IO_PORT "vid_d[18]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[17]" H5;
IO_PORT "vid_d[17]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[16]" J5;
IO_PORT "vid_d[16]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[15]" K6;
IO_PORT "vid_d[15]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[14]" K7;
IO_PORT "vid_d[14]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[13]" L6;
IO_PORT "vid_d[13]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[12]" H10;
IO_PORT "vid_d[12]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[11]" J7;
IO_PORT "vid_d[11]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[10]" G10;
IO_PORT "vid_d[10]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[9]" C11;
IO_PORT "vid_d[9]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[8]" D11;
IO_PORT "vid_d[8]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[7]" L7;
IO_PORT "vid_d[7]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[6]" D10;
IO_PORT "vid_d[6]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[5]" L8;
IO_PORT "vid_d[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[4]" C10;
IO_PORT "vid_d[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[3]" L10;
IO_PORT "vid_d[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[2]" K10;
IO_PORT "vid_d[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[1]" K11;
IO_PORT "vid_d[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_d[0]" L11;
IO_PORT "vid_d[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "vid_pclk" K5;
IO_PORT "vid_pclk" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "usb_dn" C3;
IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_dp" E3;
IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mcu_i2c_scl" E1;
IO_PORT "mcu_i2c_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=OFF PULL_STRENGTH=MEDIUM BANK_VCCIO=3.3;
IO_LOC "mcu_i2c_sda" D1;
IO_PORT "mcu_i2c_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 OPEN_DRAIN=OFF PULL_STRENGTH=MEDIUM BANK_VCCIO=3.3;
IO_LOC "spi_miso" F1;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk50" E2;
IO_PORT "clk50" IO_TYPE=LVCMOS33 PULL_MODE=NONE PULL_STRENGTH=MEDIUM BANK_VCCIO=3.3;
